<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BonplanfrontApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class = "container">
        <div class="login-box">
            <h1>Registration</h1>
                <form [formGroup]="newUserForm">
                    <div class="form_column">
                        <div class="user-box">
                            <input class="form-control" formControlName="first_name" 
                            [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }" matInput required />
                            <label>First Name</label>
                        </div>
                        <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                            <div *ngIf="f['first_name'].errors['required']">Fullname is required</div>
                        </div>
                        <div class="user-box">
                            <input class="form-control" formControlName="last_name" matInput required />
                            <label>Last Name</label>
                        </div>
                        <div class="user-box">
                            <input class="form-control" formControlName="email" matInput required />
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="form_column">
                        <div class="user-box">                                
                            <input class="form-control" formControlName="password" matInput required />
                            <label>Password</label>
                        </div>
                        <div class="user-box">                                
                            <input class="form-control" formControlName="username" matInput required />
                            <label>Username</label>
                        </div>
                        <a type="submit" (click)="addNewUser()">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Submit
                        </a><p (click)="goToLogin()">Already an account ?</p>
                    </div>
                </form>
        </div>
  </div> 
</body>
</html>