<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BonplanfrontApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class = "container">
        <div class="login-box">
            <h1>Création du Compte</h1>
                <form [formGroup]="newUserForm">
                    <div class="form_column">
                        <div class="user-box">
                            <input class="form-control" formControlName="first_name" 
                            [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }" matInput required />
                            <label>Prénom</label>
                            <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                                <div *ngIf="f['first_name'].errors['required']">Le champ Prénom n'est pas rempli</div>
                            </div>
                        </div>
                        <div class="user-box">
                            <input class="form-control" formControlName="last_name" matInput required />
                            <label>Nom</label>
                            <div *ngIf="submitted && f['last_name'].errors" class="invalid-feedback">
                                <div *ngIf="f['last_name'].errors['required']">Le champ Prénom n'est pas rempli</div>
                            </div>
                        </div>
                        <div class="user-box">
                            <input class="form-control" formControlName="email" matInput required />
                            <label>Email</label>
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Le champ Mèl n'est pas rempli</div>
                            </div>
                        </div>
                    </div>
                    <div class="form_column">
                        <div class="user-box">                                
                            <input type="password" class="form-control" formControlName="password" matInput required />
                            <label>Mot de Passe</label>
                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required']">Le champ Mot de Passe n'est pas rempli</div>
                            </div>
                        </div>
                        <div class="user-box">                                
                            <input (keyup)="checkControlPassword()" type="password" id="password_control" class="form-control" name="password_control" matInput required />
                            <label for="password_control">Confirmer Mot de Passe</label>
                            <div *ngIf="submitted" class="invalid-feedback">
                                <div *ngIf="error_empty">Le champ Password n'est pas rempli</div>
                                <div *ngIf="error_control">Les Mots de Passe ne se correspondent pas</div>
                            </div>
                        </div>
                        <div class="user-box">                                
                            <input class="form-control" formControlName="username" matInput required />
                            <label>Nom d'Utilisateur</label>
                            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                <div *ngIf="f['username'].errors['required']">Le champ Nom Utilisateur n'est pas rempli</div>
                            </div>
                        </div>
                    </div>
                    <div class="form_column_submit">
                        <a type="submit" (click)="addNewUser()">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Créer
                        </a><p id="go-to-login" (click)="goToLogin()">Déjà utilisateur ?</p>
                    </div>
                </form>
        </div>
  </div> 
</body>
</html>