<body>
  <div class="en-tête">
    <h1>
      Comment fonctionne ce site ?
    </h1>
    <hr>
    <p class="description">
      Ce site vous permettra de trouver les activités qui vous conviennent dans les villes où vous vous situez !
      Il est entièrement collaboratif puisque ce sont les internautes qui donnent leurs bons plans.
    </p>
  </div>

  <div class="row">
    <div *ngFor="let ville of listVille">
      <div class="col s3 m3">
        <div class="container">
            <div class="card">
                <img class="pic" src= " {{ ville.image }}">
                <h2>{{ ville.name }}</h2>
                <i class="access">Accédez aux activités → </i>
              <div class="description-ville">{{ ville.description }}</div>
              <button (click)="goToVilleActivite(ville)"></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>