<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>
<body>
 
  <div #sec1 class="entete" >
    <h1>Vous êtes arrivé dans une nouvelle ville ? Envie de partager vos bons coins ? Bienvenue !!</h1>
    <p class="description">
      Vous êtes à la recherche d'endroits pour faire du sport, écouter de la musique, découvrir votre nouvelle ville. Mais aussi éviter les faux plans ?
      Ce site vous permettra de trouver les activités qui vous conviennent dans les villes où vous vous situez !
      Entièrement collaboratif, les internautes se refilent leurs bons plans.
    </p>
  </div>
  <div>
  <div class="main-wrapper">
    <div class="step-container">
      <div class="step" [ngClass]="{'active': (this.scroll_y < 650)}" pageScroll (click)="scrollCustomImplementation(sec1, 1)">
        <div class="v-stepper">
          <div class="part-gauche">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
          <h4 class="liste-ville">Liste des villes</h4>
        </div>
      </div>
      <div class="step" [ngClass]="{'active': (this.scroll_y > 650)}" pageScroll (click)="scrollCustomImplementation(sec2, 2)">
        <div class="v-stepper">
          <div class="circle"></div>
          <h4 class="liste-activite">Liste des activités</h4>
        </div>
      </div>
    </div>
    <div style="background-color: brown;" class="swiper mySwiper2">
      <div class="swiper-wrapper" >
        <div class="swiper-slide" style="background-color: brown;" *ngFor="let ville of listVille">
          <div class="card">
            <img class="pic" src= " {{ ville.image }}">
            <div class="title-card">
              <h2>{{ ville.name }}</h2>
            </div>
            <div (click)="goToVilleActivite(ville)">
              <i class="access">Accédez aux activités → </i>
              <div class="description-ville">{{ ville.description }}</div>
              <button></button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next" style="color: black;"></div>
      <div class="swiper-button-prev" style="color: black;"></div>
    </div>
  
    <div  #sec2 class="swiper mySwiper2" style="background-color: beige;">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-color: beige;" *ngFor="let activity of listActivities">
          <div class="card" >
            <img class="pic" src= " {{ activity.image }}">
            <div class="title-card">
              <h2>{{activity.name}}</h2>
            </div>
            <i class="access">Accédez aux villes → </i>
            <div class="description-activity">{{ activity.description }}</div>
            <button (click)="goToVille(activity)"></button>
          </div>
        </div>
      </div>
      <div class="swiper-button-next" style="color: black;"></div>
      <div class="swiper-button-prev" style="color: black;"></div>
    </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    
</body>

</html>
