<div class="center" style="display:flex; flex-direction: column; align-items: center;">
    <img src="../assets/img/page-not-found.jfif">
    <h1>Pas de chance, cette page n'existe pas !</h1>
    <button id = "AjoutAct" mat-raised-button class="waves-effect waves-light btn " routerLink="/ville" 
    style="color:wheat; background-color: black; margin-bottom: 20px;
    display: flex; align-content: center; flex-direction: row-reverse;"
    >Retour à la page d'accueil
      <i class="material-icons right" style="font-size: 23px;">subdirectory_arrow_left</i>
    </button>
</div>