<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BonplanfrontApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class = "container">
    <div class="row">
        <div class = "col-md-6 col-md-offser-3">
            <div class="login-box">
                <h1>Log In</h1>
                <div *ngIf="msg">
                  <div class="alert alert-danger"> {{msg}} </div>
                </div>
                    <form [formGroup]="loginUserForm">
                            <div class="user-box">
                                <input class="form-control" formControlName="username"  matInput required />
                                <label>Username</label>
                              </div>
                            <div class="user-box">                               
                                <input class="form-control" formControlName="password"  matInput required />
                                <label>Password</label>
                            </div>
                            <a (click)="loginUser()">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              LogIn
                            </a><p (click)="goToRegistration()">No account ?</p>
                        </form>
            </div>
        </div>
    </div>
  </div> 
</body>
</html>