body {
    background-color: #e4e7e7;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    margin: 3%;
    padding: 1%;
}

.card-header {
    font-size: 35px;
}

.card-description {
    background-color: #ecf0f1;
    font-size: 18px;
}

.gotobonplan {
    position: relative;
    width: 20%;
    left: 70%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; 
    color: white; 
    border: 2px solid #4CAF50;
}
.gotobonplan:hover {
    background-color: white;
    color: black;
}
#ButtonDeleteAct{
    /* background-color: red; */
    flex-wrap: wrap;
    width : 100px;
    bottom : 2%;
    left : 85%;
}

.button_bottom{
    display : flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

/* #AjoutAct{
    display : block;
    margin:2% auto;
} */

input[type="checkbox"].demo2 {
  display: none;
}
input[type="checkbox"].demo2 + label::before {
  content:'';
  border: 1px solid #00B7E8;
  padding: 0 0.6rem;
  margin-right: 0.3rem;
}
input[type="checkbox"].demo2:checked + label::before {
  background-color: #00B7E8;
}


label {
  font-size: 1em;
}

