nav {
    height: 100px;
}

a.brand-logo-center{
    font-size: 70px;
    position: absolute;
    left: 42%;
    margin-top: 12px;
}

img.logo-site {
        z-index:3000;
        margin-top: 10px;
        margin-left: 10px;
        height: 80px;
        width: 80px;
        border-radius: 30px;
    }

.search-box2 {
        position: absolute;
        z-index: 2000;
        top: 0%;
        right: 20%;
    }

button.connexion {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0%;
    right: 0%;
    font-weight: bold;
    flex-wrap: wrap;
    background-color: #A06A5F;
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    border: none;
}
.txt-connection{
    position: relative;
    top:-10px;
}
.logo-authentification{
    position:relative;
    top: -32px;
}
.button.connexion:hover {
  background-color: #683C32;
  color: rgb(255, 255, 255);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}