html, body {
    margin:0;
    padding:0;
    min-height: 100%;
    background-color: #e4e7e7;
} 
nav {
    height: 100px;
    z-index: 1000;
}
.page-footer {
    bottom: 0;
    width: 100%;
  }
/* footer {
    position: absolute;
    bottom: 0%;
    flex-grow: 0;
    flex-shrink: 0;
  } */
a.text-lighten-4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.nav-wrapper {
    box-shadow: 0 0 20px 0 #2980b9;
}  

.haut-gauche {
    position: relative;
    z-index: 1;
    width: fit-content;
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(134, 134, 134, 0.5);
    box-shadow: 0 -5px 5px 5px rgba(134, 134, 134, 0.5);
}

.right-content {
    margin-top: 0px;
    margin-left: 4px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.brand-logo {
    position: relative;
    z-index: 1;
    font-size: 40px;
    font-family: fantasy;
    /* text-shadow: 0 0 2px rgb(0, 0, 0); */
    text-decoration: none;
    /* transition-duration: 0.3s; */
}
img.logo-site {
    position: relative;
    z-index:1;
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 30px;
    /* box-shadow: 0 0 3px black; */
    transition-duration: 0.3s;
}
.accroche {
    position: relative;
    z-index: 1;
    top: -17%;
    line-height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #07051a;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0 0 3px #e4e7e7;
    /* transition-duration: 0.3s; */
}
.haut-gauche:hover .logo-site {
    box-shadow: 0 0 8px rgb(0, 0, 0);
    cursor: pointer;
}
.haut-gauche:hover .brand-logo {
    text-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
}

img.activite-navbar {
    z-index: 0;
    position: absolute;
    top: 0%;
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.nom-ville-actuelle {
    position: relative;
    float: right;
    z-index: 1;
    font-size: 40px;
    font-family: fantasy;
}

.search-box2 {
    position: relative;
    z-index: 2000;
    top: 0%;
    right: 20%;
    box-shadow: none;
}

.collection {
    top: 100%;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    box-shadow: 0 0 10px 10px #2980b9;
    font-size: 135%;
    /* overflow: visible; */
}

input.new-search {
    position: absolute;
    color:rgb(0, 0, 0);
    top: 0;
    left: -1.5%;
    width: 83%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    line-height: 200%;
    font-size: 20px;
    transition: 0.5s;
}

ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    border: none;
  }
  
  ul a{
    background: #ddd;
    border-bottom: 3px solid whitesmoke;
    padding: 2px;
    overflow: hidden;
    border-radius: 3px;
  }
  
  ul a p{
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    color:#07051a;
    font-size: 150%;
    border: none;
  }

/* form input.new-search:valid {
    overflow: visible;
} */

form:hover,
form:focus-within {
    width: 200px;
    cursor: pointer;
}

form:hover input.new-search,
form:focus-within input.new-search { 
    display: block;
}

form:hover .fa { 
    background: #07051a;
    color: white;
}

.collection {
    opacity: 0;
}
form:hover .collection,
form:focus-within .collection {
    opacity: 1;
}


.button-connexion {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0%;
    right: 0%;
    font-weight: bold;
    flex-wrap: wrap;
    background-color: #3498db;
    color: rgb(0, 0, 0);
    border: none;
    -webkit-transition: all 0.4s linear;
    transition:  all 0.4s linear;
}

.txt-connection{
    position: relative;
    font-size: 140%;
    top:-10px;
}
.logo-authentification{
    position: relative;
    top: -32px;
}
.button-connexion:hover {
  background-color: #34495e;
  color: rgb(255, 255, 255);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.myAccount {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0%;
    right: 5%;
    font-weight: bold;
    flex-wrap: wrap;
    background-color: #3498db;
    color: rgb(0, 0, 0);
    transition: 0.4s;
    border: none;
}

.myAccount:hover {
    background-color: #34495e;
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }

  .menu {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    height: 80px;
    width: 80px;
    top: 10%;
    right: 120px;
    font-weight: bold;
    /* background-color:rgb(212, 27, 27); */
    background-image: url('../assets/img/user_default.jpg');
    color: rgb(53, 51, 51);
    color : white;
    transition: 0.4s;
    box-sizing: border-box;
    list-style-type: none;
    border-radius: 50%;
    border-color: white;
    border-style:solid;
    font-size : 3em;
    text-transform: capitalize;
    z-index: 0;
    
  }
 
.letter{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 100px;
}

  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    /* transform-origin: 50%; */
    transition: all 300ms ease-in-out;
    position:relative;
    z-index: 100;
  }
  .sub-menu li {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    padding: 1px 0;
    width: 200px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
   

    /* position: fixed;
    z-index: -1; */
  }
  .sub-menu li:last-child {
    border-bottom: 0;
  }
  .sub-menu li:hover {
    background: black;
  }
  .menu > li:hover .sub-menu li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu {
    transform: scale(1);
  }

