
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BonplanfrontApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <nav>
      <div class="nav-wrapper">
        <div class="haut-gauche">
          <a href="#" ><img class = "logo-site" src=".\assets\img\logo-site.jfif" height="90%" width="3.5%"></a>
          <div class="right-content">
            <div>
              <a href="#" class="brand-logo" style="color: rgb(0, 0, 0)">
                Bon Plan
              </a>
              <div class = "nom-ville-actuelle">  {{currentActivite}}  {{currentVille}}</div>
            </div>
            <p class="accroche">Le site qui vous <br> fera aimer voyager</p>
          </div>
        </div>
    
        <img *ngIf= "currentImg != '' " class = "activite-navbar" src='{{currentImg}}'>
        <!-- <div *ngIf= "currentImg == '' " class = "activite-navbar" style="background-color: darkred; box-shadow: 0 0 5px 5px darkred; border-color: darkred;">
        </div> -->
          <form *ngIf='isCityActivated' action="">
            <input
            [(ngModel)]="searchInput"
            class="new-search"
            type="text"
            required
            name="name" 
            #searchBox
            placeholder="Ville"
            (keyup)="SearchVille(searchBox.value)"
            (keyup.enter)= "SearchVilleEnter()">
              <div class="collection">
                <ul>
                  <a *ngFor="let Ville of this.touteVille"
                    (click)="goToDetailVille(Ville)"
                    class="collection-item"
                    id="log"
                  >
                    <p> {{ Ville.name }} </p>
                  </a>
                </ul>
              </div>
            <i class="fa fa-search" (click)="SearchVilleEnter()"></i>
          </form>
          <form *ngIf='!isCityActivated' action="">
            <input
            [(ngModel)]="searchInput"
            class="new-search"
            type="text"
            required
            name="name" 
            #searchBox
            placeholder="Activité"
            (keyup)="SearchActivity(searchBox.value)"
            (keyup.enter)= "SearchActivityEnter()">
              <div class="collection">
                <ul>
                  <a *ngFor="let Activite of this.allActivities"
                    (click)="goToDetailActivity(Activite)"
                    class="collection-item"
                    id="log"
                  >
                    <p> {{ Activite.name }} </p>
                  </a>
                </ul>
              </div>
            <i class="fa fa-search" (click)="SearchActivityEnter()"></i>
          </form>
          
          <input type="checkbox" id="switch" (click)="changeSearchBtn(researcheBy)"/>
          <label for="switch" class="toggle" id="toggle"></label>
          <button *ngIf = "this.location_url !== 'http://localhost:4200/ville'" class="curtain1" href="#switch"></button>
          <button *ngIf = "this.location_url !== 'http://localhost:4200/ville'" class="curtain2" href="#switch"></button>
        
          <button *ngIf = "!allowConnection" class="menu" >
          <!-- <button *ngIf = "!allowConnection" class="menu" (click)="gotToMyAccount(currentUser)"> -->
          
          <li class="letter">
            <div class="container-menu-profil"><img class="menu2-profil" src="{{userDetails.imgProfil}}"></div>
            
            <ul class="sub-menu">
              <!-- <li><a href="http://localhost:4200/user-profile.component.html">Mon profile</a></li> -->
              
              <li><a (click)="goToUserProfile(currentUser)">Mon profil</a></li>
              <li><a (click)="goToUserBonPlan(currentUser)">Mes bons plans</a></li>
            </ul>
          </li>
        </button>
        <button class="button-connexion" *ngIf = "allowConnection" (click)="login()">
          <div class="txt-connection">Se connecter</div>
          <img class="logo-authentification" src=".\assets\img\logo-authentification.png" height="50%" width="50%">
        </button>
        <button class="button-connexion" *ngIf = "!allowConnection" (click)="openConfirmationDeconnexion(ConfirmationDeconnexion)">
          <div class="txt-connection">Déconnexion</div>
          <img class="logo-authentification" src=".\assets\img\logo-déconnexion.png" height="60%" width="60%">
        </button>
        <ng-template  #ConfirmationDeconnexion >
          <div class="pop-up-confirmation-déco">
            <h2>Êtes-vous sûr de vouloir nous quitter si tôt ?</h2>
            <div>
              <button class="pop-up-boutons" mat-button (click)="logout()" matDialogClose>Se déconnecter</button>
              <button class="pop-up-boutons" mat-button class="BtnAnnuler" matDialogClose > Annuler </button>
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf = "this.location_url == 'http://localhost:4200/ville' " class="entete" >
        <div *ngIf = 'this.scroll_y > 400' class="scrollIndicationUp">
          <p style="position: fixed; top: 40px; left: 49%; font-size: 14px;"> Scroll Up </p>
          <div class="arrowUp"></div> 
        </div>
        <h1>Arrivé dans une nouvelle ville ? <br/> Envie de partager vos bons coins ? <br/> Bienvenue !!</h1>
        <p class="trium_word">
          Faire du sport, &nbsp;&nbsp; Ecouter de la musique, &nbsp;&nbsp; Eviter les faux plans ? <br/>
        </p>  
        <p class="sub_text">
        Entièrement collaboratif, <br/> ce site permet aux internautes de se passer leurs bons plans.
        </p>
        <div *ngIf = 'this.scroll_y < 2000' pageScroll class="scrollIndicationDown">
          <p style="position: fixed; bottom: 30px; left: 48.7%; font-size: 14px;"> Scroll down </p>
          <div class="arrowDown"></div> 
        </div>
      </div>
  </nav>
  <body>
    <router-outlet></router-outlet>
  </body>
  
  <div class="page-foutu-footer" style="background-color: darkred">
    <div class="footer-copyright">
      <div class="container">
        © 2023 Copyright Lorenzo Lenoir, Gabriel Pons, Claire Favre, Thibault Ferney, Solenn Ducos, Samy Mor
        <a class="grey-text text-lighten-4 right" href="#!">More Links
          <img src=".\assets\img\facebook.png" height="20px" width="20px">
          <img src=".\assets\img\twitter.png" height="20px" width="20px">
          <img src=".\assets\img\instagram.png" height="20px" width="20px">
          <img src=".\assets\img\discord.png" height="20px" width="20px">
        </a>
        <div class="coordonnees-footer">
          <div class="ligne-footer">
            <i class="material-icons">home</i>
            <p class="text-icons" >Lyon, France</p>
          </div>
          <div class="ligne-footer">
            <i class="material-icons">mail</i>
            <p class="text-icons">bidon@wanadoo.fr</p>
          </div>
          <div class="ligne-footer">
            <i class="material-icons">phone</i>
            <p class="text-icons=">06 51 01 20 75</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
