
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BonplanfrontApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <nav>
      <div class="nav-wrapper" style="background-color: #2980b9;">
          <div class="haut-gauche">
            <a href="#" ><img class = "logo-site" src=".\assets\img\logo-site.jfif" height="90%" width="3.5%"></a>
            <div class="right-content">
              <div>
                <a href="#" class="brand-logo" style="color: rgb(0, 0, 0)">
                  Bon Plans
                </a>
                <div class = "nom-ville-actuelle">  {{currentActivite}}  {{currentVille}}</div>
              </div>
              <p class="accroche">Le site qui vous <br> fera aimer voyager</p>
            </div>
          </div>
      
          <img class = "activite-navbar" src='{{currentImg}}'>
          <!-- <div class='search-component'>
            <my-custom-component  [customResearch]='searchParam' ></my-custom-component>
          </div> -->
          <form *ngIf='isCityActivated' action="">
            <input
            [(ngModel)]="searchInput"
            class="new-search"
            type="text"
            required
            name="name" 
            #searchBox
            placeholder="Recherchez une ville"
            (keyup)="SearchVille(searchBox.value)"
            (keyup.enter)= "SearchVilleEnter()">
              <div class="collection">
                <ul>
                  <a *ngFor="let Ville of this.touteVille"
                    (click)="goToDetailVille(Ville)"
                    class="collection-item"
                    id="log"
                  >
                    <p> {{ Ville.name }} </p>
                  </a>
                </ul>
              </div>
            <i class="fa fa-search" (click)="SearchVilleEnter()"></i>
          </form>
          <form *ngIf='!isCityActivated' action="">
            <input
            [(ngModel)]="searchInput"
            class="new-search"
            type="text"
            required
            name="name" 
            #searchBox
            placeholder="Recherchez une activité"
            (keyup)="SearchActivity(searchBox.value)"
            (keyup.enter)= "SearchActivityEnter()">
              <div class="collection">
                <ul>
                  <a *ngFor="let Activite of this.allActivities"
                    (click)="goToDetailActivity(Activite)"
                    class="collection-item"
                    id="log"
                  >
                    <p> {{ Activite.name }} </p>
                  </a>
                </ul>
              </div>
            <i class="fa fa-search" (click)="SearchActivityEnter()"></i>
          </form>


          <div (click)="changeSearchBtn(researcheBy)" class="change-search">
              {{ researcheBy }}
          </div>
            <button *ngIf = "!allowConnection" class="myAccount">
              <div class="txt-connection" (click)="gotToMyAccount(currentUser)">{{currentUser}}</div>
              <img class="logo-authentification" src=".\assets\img\logo-authentification.png" height="50%" width="50%">
            </button>
            <button class="button-connexion">
              <div *ngIf = "allowConnection" class="txt-connection" (click)="login()">Se connecter</div>
              <div *ngIf = "!allowConnection" class="txt-connection" (click)="logout()">Déconnexion</div>
              <img class="logo-authentification" src=".\assets\img\logo-authentification.png" height="50%" width="50%">
            </button>
      </div>
  </nav>
  <body class="full-body" (click)="changeImgNav()">
    <router-outlet></router-outlet>
    <footer class="page-footer" style="background-color:rgb(148, 158, 110)">
      <!-- <div class="container">
          <div class = "center">
            <h5 class="white-text">Footer Content</h5>
          </div>
      </div> -->
      <div class="footer-copyright">
        <div class="container">
          © 2023 Copyright Lorenzo Lenoir, Gabriel Pons, Claire Favre, Thibault Ferney, Solenn Ducos, Samy Mor
          <a class="grey-text text-lighten-4 right" href="#!">More Links
          <img src=".\assets\img\facebook.png" height="20px" width="20px">
          <img src=".\assets\img\twitter.png" height="20px" width="20px">
          <img src=".\assets\img\instagram.png" height="20px" width="20px">
          <img src=".\assets\img\discord.png" height="20px" width="20px">
          </a>
          <div class="ligne-footer">
            <i class="material-icons">home</i>
            <p class="text-icons" >Lyon, France</p>
          </div>
          <div class="ligne-footer">
            <i class="material-icons">mail</i>
            <p class="text-icons">bidon@wanadoo.fr</p>
          </div>
          <div class="ligne-footer">
            <i class="material-icons">phone</i>
            <p class="text-icons=">06 51 01 20 75</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
