<!DOCTYPE html>
  <html>                        
    <head>                        
      <title>BonPlan</title>                        
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">    
      <link href='https://css.gg/css' rel='stylesheet'>                  
    </head> 
    <body style='background-image: imgBackGround '>       
          
      <div *ngIf="bonplanDeleted" class="alert alert-success" style="text-align: center; font-size: large; font-style: oblique;">You've successfully deleted the Bon Plan !!!</div>
      
      <div class="row">

        <div class = "col card-bp">
          <div class="gros-titre">
            <h1>Les bons plans</h1>
          </div>

          <button *ngIf="allowModeratorRight || allowUserRight" mat-raised-button class="waves-effect waves-light btn btn-bp"
          (click)="goToFormAddBonPlan()" style="color:wheat; background-color: black;">&nbsp; BonPlan
          <i class="material-icons right" style="font-size: 23px;">add_circle_outline</i>
          </button>  

          <div *ngFor="let bp of listeBonPlan">
            <div class="card" testBorderCard = 'setHeight=50'> <!--(click)="deleteBonPlan(nomdelaville, nomdelactivite)"-->
                <div class="card-content-bp">
                  <div class="left-content">
                    <h2>Nom {{ bp.name }}</h2>
                    <p>Description {{ bp.address }}</p>
                  </div>    
                  <img class = "img-test" src=".\assets\img\foot.jfif">
                  <i *ngIf="allowModeratorRight || allowUserRight" id='trashBtn' class='fa fa-trash' (click)="deleteBonPlan(bp.name)"></i> 
                  <i *ngIf="allowModeratorRight || allowUserRight" id='editBtn' class="gg-edit-markup" aria-hidden="false" (click)="updateBonPlan(bp)"></i>
                </div>     
            </div> 
          </div>

        </div>

        <div class = "col card-mp">
          <div class="gros-titre">
            <h1>Les mauvais plans</h1>
          </div>
          <button *ngIf="allowModeratorRight || allowUserRight" mat-raised-button class="waves-effect waves-light btn btn-mp"
            (click)="goToFormAddMauvaisPlan()" style="color:wheat; background-color: black;">&nbsp; MauvaisPlan
            <i class="material-icons right" style="font-size: 23px;">add_circle_outline</i>
          </button>
          <div *ngFor="let mp of listeMauvaisPlan">
            <div class="card" testBorderCard = 'setHeight=50'>
              <div class="card-content-mp">
                <div class="left-content">
                  <h2>Nom {{ mp.name }}</h2>
                  <p>Description {{ mp.address }}</p>
                </div>    
                <img class = "img-test" src=".\assets\img\foot.jfif">
                <i *ngIf="allowModeratorRight || allowUserRight" id='trashBtn' class='fa fa-trash' (click)="deleteMauvaisPlan(mp.name)"></i>
                <i *ngIf="allowModeratorRight || allowUserRight" id='editBtn' class="gg-edit-markup" aria-hidden="false" (click)="updateMauvaisPlan(mp)"></i>
              </div>     
            </div> 
          </div>
        </div>
      </div>
    </body>
  </html>
 