<!DOCTYPE html>
  <html>                        
    <head>                        
      <title>BonPlan</title>                        
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">                      
    </head> 
    <body style='background-image: imgBackGround '>       
          
      <div *ngIf="bonplanDeleted" class="alert alert-success" style="text-align: center; font-size: large; font-style: oblique;">You've successfully deleted the Bon Plan !!!</div>
      
      <div class="row">

        <div class = "col card-bp">
          <div class="gros-titre">
            <h1>Les bons plans</h1>
          </div>
          <button mat-raised-button class="waves-effect waves-light btn-bp" (click)="goToFormAddBonPlan()" style="color:wheat; background-color: black;"> Add a new BonPlan
            <i class="material-icons right">send</i>
          </button>  
          <div *ngFor="let bp of listeBonPlan">
            <div class="card" testBorderCard = 'setHeight=50'> <!--(click)="deleteBonPlan(nomdelaville, nomdelactivite)"-->
                <div class="card-content-bp">
                  <div class="left-content">
                    <h2>Nom {{ bp.name }}</h2>
                    <p>Description {{ bp.address }}</p>
                  </div>    
                  <img class = "img-test" src=".\assets\img\foot.jfif">
                  <i id='trashBtn' class='fa fa-trash' (click)="deleteBonPlan(bp.name)"></i> 
                </div>     
            </div> 
          </div>

        </div>

        <div class = "col card-mp">
          <div class="gros-titre">
            <h1>Les mauvais plans</h1>
          </div>
          <button mat-raised-button class="waves-effect waves-light btn-mp" (click)="goToFormAddMauvaisPlan()" style="color:wheat; background-color: black;"> Add a new MauvaisPlan
            <i class="material-icons right">send</i>
          </button>
          <div *ngFor="let mp of listeMauvaisPlan">
            <div class="card" testBorderCard = 'setHeight=50'>
              <div class="card-content-mp">
                <div class="left-content">
                  <h2>Nom {{ mp.name }}</h2>
                  <p>Description {{ mp.address }}</p>
                </div>    
                <img class = "img-test" src=".\assets\img\foot.jfif">
                <i id='trashBtn' class='fa fa-trash' (click)="deleteMauvaisPlan(mp.name)"></i>
              </div>     
            </div> 
          </div>
        </div>
      </div>
    </body>
  </html>
