<!DOCTYPE html>
  <html>                        
    <head>                        
      <title>BonPlan</title>                        
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">    
      <link href='https://css.gg/css' rel='stylesheet'>                  
    </head> 
    <body>       
      <div *ngIf="this.listNameActivities.includes(this.nomdelactivite) && this.listNameVille.includes(this.nomdelaville)">
      <div *ngIf="bonplanDeleted" class="alert alert-success" style="text-align: center; font-size: large; font-style: oblique;">You've successfully deleted the Bon Plan !!!</div>
      
      <div class="row">
        <div class = "col card-bp">
          <div class="gros-titre">
            <h1>Les bons plans</h1>
          </div>
          <div class="en-tete-card">
            <button *ngIf="allowModeratorRight || allowUserRight" mat-raised-button class="waves-effect waves-light btn btn-bp"
            (click)="goToFormAddBonPlan()" style="color:wheat; background-color: black;">&nbsp; Nouveau Plan
            <i class="material-icons right" style="font-size: 23px;">add_circle_outline</i>
            </button>
            <div class="choix-tri">
              <label for="DropdownOptions">Trier par:</label>
              <select class="form-control" id="DropdownOptions" (click)="Trie1()" >
                <option
                  *ngFor="let opt of ngOptions"
                  [selected]="opt === ngDropdown"
                  [value]="opt" >{{ opt }}
                </option>
              </select>
            </div>
          </div>

          <div *ngFor="let bp of allBonPlanFiltered">
            <div class="card" testBorderCard = 'setHeight=50'> <!--(click)="deleteBonPlan(nomdelaville, nomdelactivite)"-->
              <div class="card-content-bp">
                <div class="left-content">
                  <h2>{{ bp.name }}</h2>
                  <div class="row-avis-date">
                    <p *ngIf="bp.note.length == 0 ">(pas encore d'avis)</p>
                    <div class="notation" *ngIf="!(bp.note.length == 0)"> {{moyenneTableau(bp.note)}}
                      <div *ngIf="moyenneTableau(bp.note) < '2.3'" class="notation">
                        <i class="material-icons notation_étoile" style="font-size: 20px; color: red">
                          star
                        </i> <i> ({{bp.note.length}} avis) </i>
                      </div>
                      <div *ngIf="moyenneTableau(bp.note) > '3.7'" class="notation">
                        <i class="material-icons notation_étoile" style="font-size: 20px; color: green">
                          star
                        </i> <i> ({{bp.note.length}} avis) </i>
                      </div>
                      <div *ngIf="moyenneTableau(bp.note) >= '2.3' && moyenneTableau(bp.note) <= '3.7' " class="notation">
                        <i class="material-icons notation_étoile" style="font-size: 20px; color: orange">
                          star
                        </i> <i> ({{bp.note.length}} avis) </i>
                      </div>
                    </div>

                    <div class="separator">
                    </div>
                    <div class="date-bp">
                      <p>il y a {{getDateCreaBp(bp.date)[0]}} {{getDateCreaBp(bp.date)[1]}}</p>
                    </div>
                  </div>
                  

                    <hr style="margin-top: 3%; margin-bottom: 3%;">
                    <div class="descr-username">
                      <p class="description-bp">{{ bp.address }}</p>
                      <div class="description-bp2"> Créé par 
                        <a (click)="goToUserRestrictedBonPlan(bp.user_name)" class="Username-BP"> 
                          <div class="PhotoUserContainer">
                            <img class="PhotoUserBP" src={{getPhotoUsername(bp.user_name)}}>
                          </div>  {{bp.user_name}} 
                        </a>
                      </div>
                    </div>
                    <hr style="margin-top: 3%; margin-bottom: 3%;">
                    <p class="commentaryBtn"> 
                      <button *ngIf = 'bp.allCommentaries.length > 1 '(click)="openDialogCommentaries(openCommentaries, bp.name)" >{{bp.allCommentaries.length}} Commentaires </button>
                      <button *ngIf = 'bp.allCommentaries.length == 1 || bp.allCommentaries.length == 0'(click)="openDialogCommentaries(openCommentaries, bp.name)" >{{bp.allCommentaries.length}} Commentaire </button>
                    </p>
                    <!-- <p><i class="material-icons" (click)="openDialogWithTemplateRef(addACommentary)" style="font-size: 23px;">add_circle</i>ajouter un commentaire</p> -->
                    <ng-template  #openCommentaries >
                      <div class="content-ngtemplate" style="background:none;">
                        <h2 class = "titre"> Commentaires </h2>
                        <div mat-dialog-content>
                          <div *ngIf = "bp.allCommentaries.length != 0">
                            <p *ngFor="let com of allCommentary" >
                              <mat-card>
                                <mat-card-header *ngIf = 'com.note == "5"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "4"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "3"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: orange">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: orange">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: orange">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "2"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: red">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: red">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content >{{ com.commentaries }} </mat-card-content>
                              </mat-card>
                            </p>
                          </div>
                          <div *ngIf = "bp.allCommentaries.length == 0">
                            <p> aucun commentaire </p>
                          </div>
                          <form *ngIf="currentUser != undefined" [formGroup]="newCommentaryForm">
                            <div *ngIf="bp.already_noted == 'false'" class="avis">
                              <div class="commentary" matInput required>
                                <label for="new_commentary">Partagez votre expérience : </label>
                                <textarea  formControlName="form_commentary"  placeholder="Entrez votre commentaire" id="new_commentary" style="height: 50px;" matInput required></textarea>
                                <div *ngIf="submitted && f['form_commentary'].errors" class="invalid-feedback">
                                  <div *ngIf="f['form_commentary'].errors['required']">Le champ Commentaire n'est pas rempli</div>
                                </div>
                              </div>
                              <div matInput required>   
                                <a id="étoile1" (click)="saveNote('1')" title="Donner 1 étoile">☆</a>
                                <a id="étoile2" (click)="saveNote('2')" title="Donner 2 étoiles">☆</a>
                                <a id="étoile3" (click)="saveNote('3')" title="Donner 3 étoiles">☆</a>
                                <a id="étoile4" (click)="saveNote('4')" title="Donner 4 étoiles">☆</a>
                                <a id="étoile5" (click)="saveNote('5')" title="Donner 5 étoiles">☆</a>
                              </div>
                              <div *ngIf="submitted && note==undefined" class="invalid-feedback">
                                Donnez une Note !
                              </div>
                            </div>
                          </form>
                          <div *ngIf="bp.already_noted == 'true'">
                              Vous avez déjà laissé un avis ;)
                          </div>
                        </div>
                        <div *ngIf="currentUser != undefined " mat-dialog-actions class = "button-bottom">
                          <button *ngIf="bp.already_noted == 'false'" class="BtnValider" (click)="addCommentary(bp)"> Ajouter </button>
                          <button *ngIf="bp.already_noted == 'true'" class="BtnValider"  disabled style="opacity: 0.5"> Ajouter </button>
                          <button class="BtnAnnuler" matDialogClose > Annuler </button>
                        </div>
                      </div>
                    </ng-template>
                    <hr style="margin-top: 3%; margin-bottom: 3%;">
                    <div *ngIf="bp.already_noted == 'false'" class="rating">Laissez-nous votre avis ! 
                    </div>
                    <div *ngIf = "bp.already_noted == 'true'" >
                      <p class="information_call_note" style="font-size: smaller;"> <i class="material-icons">check</i> La communauté BonPlan vous remercie pour cet avis !!</p>
                    </div>
                  </div>
                  <img class = "img-test" src="{{currentImg}}">
                  <!-- Enlever allowUserRight quand on aura plusieurs utilisateurs (le modérateur peut tout faire et le user peut modifier
                  ses bp )-->
                  <i *ngIf="(allowModeratorRight || currentUser == bp.user_name)" id='trashBtn' class='fa fa-trash' (click)="deleteBonPlan(bp.name)"></i> 
                  <i *ngIf="(allowModeratorRight || currentUser == bp.user_name)" id='editBtn' class="gg-edit-markup" aria-hidden="false" (click)="updateBonPlan(bp)"></i>
                </div>     
            </div> 
          </div>
        </div>

        <div class = "col card-mp">
          <div class="gros-titre">
            <h1>Les mauvais plans</h1>
          </div>
          <div class="en-tete-card">
            <!-- <button *ngIf="allowModeratorRight || allowUserRight" mat-raised-button class="waves-effect waves-light btn btn-bp"
            (click)="goToFormAddBonPlan()" style="color:wheat; background-color: black;">&nbsp; Nouveau Plan
            <i class="material-icons right" style="font-size: 23px;">add_circle_outline</i>
            </button> -->
            <div class="choix-tri">
              <label for="DropdownOptions">Trier par:</label>
              <select class="form-control" id="DropdownOptions2" (click)="Trie2()" >
                <option
                  *ngFor="let opt of ngOptions2"
                  [selected]="opt === ngDropdown2"
                  [value]="opt" >{{ opt }}
                </option>
              </select>
            </div>
          </div>
          <div *ngFor="let bp of allMauvaisPlanFiltered">
            <div class="card"> <!--(click)="deleteBonPlan(nomdelaville, nomdelactivite)"-->
                <div class="card-content-mp">
                  <div class="left-content">
                    <h2>{{ bp.name }}</h2>
                    <div class="row-avis-date">

                      <p *ngIf="bp.note.length == 0 ">(pas encore d'avis)</p>
                      <div class="notation" *ngIf="!(bp.note.length == 0)"> {{moyenneTableau(bp.note)}}
                        <div *ngIf="moyenneTableau(bp.note) < '2.3'" class="notation">
                          <i class="material-icons notation_étoile" style="font-size: 20px; color: red">
                            star
                          </i> <i> ({{bp.note.length}} avis) </i>
                        </div>
                        <div *ngIf="moyenneTableau(bp.note) > '3.7'" class="notation">
                          <i class="material-icons notation_étoile" style="font-size: 20px; color: green">
                            star
                          </i> <i> ({{bp.note.length}} avis) </i>
                        </div>
                        <div *ngIf="moyenneTableau(bp.note) >= '2.3' && moyenneTableau(bp.note) <= '3.7' " class="notation">
                          <i class="material-icons notation_étoile" style="font-size: 20px; color: orange">
                            star
                          </i> <i> ({{bp.note.length}} avis) </i>
                        </div>
                        <div class="separator">
                        </div>
                        <div class="date-bp">
                          <p>il y a {{getDateCreaBp(bp.date)[0]}} {{getDateCreaBp(bp.date)[1]}}</p>
                        </div>
                    </div>
                    
                    </div>
                    <hr style="margin-top: 3%; margin-bottom: 3%;">
                    <div class="descr-username">
                      <p class="description-bp">{{ bp.address }}</p>
                      <div class="description-bp2"> Créé par 
                        <a (click)="goToUserRestrictedBonPlan(bp.user_name)" class="Username-BP"> 
                          <div class="PhotoUserContainer">
                            <img class="PhotoUserBP" src={{getPhotoUsername(bp.user_name)}}>
                          </div>  {{bp.user_name}} 
                        </a>
                      </div>
                    </div>
                    <hr style="margin-top: 3%; margin-bottom: 3%;">
                    <p class="commentaryBtn"> 
                      <button *ngIf = 'bp.allCommentaries.length > 1 '(click)="openDialogCommentaries(openCommentaries, bp.name)" >{{bp.allCommentaries.length}} Commentaires </button>
                      <button *ngIf = 'bp.allCommentaries.length == 1 || bp.allCommentaries.length == 0'(click)="openDialogCommentaries(openCommentaries, bp.name)" >{{bp.allCommentaries.length}} Commentaire </button>
                    </p>
                    <ng-template  #openCommentaries >
                      <div class="content-ngtemplate" style="background:none;">
                        <h2 class = "titre"> Commentaires </h2>
                        <div mat-dialog-content>
                          <div *ngIf = "bp.allCommentaries.length != 0">
                            <p *ngFor="let com of allCommentary" >
                              <mat-card>
                                <mat-card-header *ngIf = 'com.note == "5"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "4"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: green">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "3"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: orange">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: orange">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: orange">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "2"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: red">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: red">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-header *ngIf = 'com.note == "1"'>
                                  <mat-card-subtitle>{{com.userName}} 
                                    <i class="material-icons notation_étoile" style="font-size: 15px; color: red">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                    <i class="material-icons notation_étoile" style="font-size: 15px">star</i>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content >{{ com.commentaries }} </mat-card-content>
                              </mat-card>
                            </p>
                          </div>
                          <div *ngIf = "bp.allCommentaries.length == 0">
                            <p> aucun commentaire </p>
                          </div>
                          <form *ngIf="currentUser != undefined" [formGroup]="newCommentaryForm">
                            <div *ngIf="bp.already_noted == 'false'" class="avis">
                              <div class="commentary" matInput required>
                                <label for="new_commentary">Partagez votre expérience : </label>
                                <textarea  formControlName="form_commentary"  placeholder="Entrez votre commentaire" id="new_commentary" style="height: 50px;" matInput required></textarea>
                                <div *ngIf="submitted && f['form_commentary'].errors" class="invalid-feedback">
                                  <div *ngIf="f['form_commentary'].errors['required']">Le champ Commentaire n'est pas rempli</div>
                                </div>
                              </div>
                              <div matInput required>   
                                <a id="étoile1" (click)="saveNote('1')" title="Donner 1 étoile">☆</a>
                                <a id="étoile2" (click)="saveNote('2')" title="Donner 2 étoiles">☆</a>
                                <a id="étoile3" (click)="saveNote('3')" title="Donner 3 étoiles">☆</a>
                                <a id="étoile4" (click)="saveNote('4')" title="Donner 4 étoiles">☆</a>
                                <a id="étoile5" (click)="saveNote('5')" title="Donner 5 étoiles">☆</a>
                              </div>
                              <div *ngIf="submitted && note==undefined" class="invalid-feedback">
                                Donnez une Note !
                              </div>
                            </div>
                          </form>
                          <div *ngIf="bp.already_noted == 'true'">
                              Vous avez déjà laissé un avis ;)
                          </div>
                        </div>
                        <div *ngIf="currentUser != undefined " mat-dialog-actions class = "button-bottom">
                          <button *ngIf="bp.already_noted == 'false'" class="BtnValider" (click)="addCommentary(bp)"> Ajouter </button>
                          <button *ngIf="bp.already_noted == 'true'" class="BtnValider"  disabled style="opacity: 0.5"> Ajouter </button>
                          <button class="BtnAnnuler" matDialogClose > Annuler </button>
                        </div>
                      </div>
                    </ng-template>
                    <hr style="margin-top: 3%; margin-bottom: 3%;">
                    <div *ngIf="bp.already_noted == 'false'" class="rating">Laissez-nous votre avis ! 
                    </div>
                    <div *ngIf = "bp.already_noted == 'true'" >
                      <p class="information_call_note" style="font-size: smaller;"> <i class="material-icons">check</i> La communauté BonPlan vous remercie pour cet avis !!</p>
                    </div>
                  </div>
                  <img class = "img-test" src="{{currentImg}}">
                  <!-- Enlever allowUserRight quand on aura plusieurs utilisateurs (le modérateur peut tout faire et le user peut modifier
                  ses bp )-->
                  <i *ngIf="(allowModeratorRight || currentUser == bp.user_name)" id='trashBtn' class='fa fa-trash' (click)="deleteBonPlan(bp.name)"></i> 
                  <i *ngIf="(allowModeratorRight || currentUser == bp.user_name)" id='editBtn' class="gg-edit-markup" aria-hidden="false" (click)="updateBonPlan(bp)"></i>
                </div>     
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="center" style="display:flex; flex-direction: column; align-items: center;"
    *ngIf="!this.listNameVille.includes(this.nomdelaville) || !this.listNameActivities.includes(this.nomdelactivite)">
    <img src="../assets/img/travolta.gif">
    <h1 style="margin: 20px"> Cette ville ou cette activité n'existe pas !</h1>
    <button id = "AjoutAct" mat-raised-button class="waves-effect waves-light btn " routerLink="/ville" 
    style="color:wheat; background-color: black; margin-bottom: 20px;
    display: flex; align-content: center; flex-direction: row-reverse;"
    >Retour à la page d'accueil
      <i class="material-icons right" style="font-size: 23px;">subdirectory_arrow_left</i>
    </button>
  </div>
    </body>
  </html>
 