body {
    background-color: #e4e7e7;
    height: 100%;
}

#trashBtn {
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}

#trashBtn:hover {
    cursor: pointer;
}

.waves-effect {
    position: relative;
    left: 5%;
}

/* ------------------------------------------------------------------------------ **/

.gros-titre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card-bp {
    width: 45%;
}
.card-bp h1 {
    background-color: #95a5a6;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.card-mp {
    width: 45%;
}
.card-mp h1 {
    background-color: #95a5a6;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.left-content {
    width: 50%;
}

h2 {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

p {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

.card-content {
    display:flex;
    flex-wrap: nowrap;
}

.img-test {
    position: relative;
    margin-left: 4rem;
    height: 80%;
    width: 40%;
    object-fit: cover;
}