body {
    background-color: #e4e7e7;
    height: 100%;
}

#trashBtn {
    color: red;
}

#trashBtn:hover {
    cursor: pointer;
}


/* ------------------------------------------------------------------------------ **/

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-bp {
    margin-left: 10px;
    width: 45%;
}
.card-bp h1 {
    text-align: center;
}

.card-mp {
    margin-right: 10px;
    width: 45%;
}
.card-mp h1 {
    text-align: center;
}
