body {
    background-color: #e4e7e7;
    height: 100%;
}

#editBtn {
    color:forestgreen;
    position: absolute;
    top: 10px;
    right: 10px;
}

#editBtn:hover {
    cursor:pointer;
}

#trashBtn {
    color: red;
    position: absolute;
    top: 220px;
    right: 15px;
}

#trashBtn:hover {
    cursor: pointer;
}

.btn-bp {
    position: relative;
    left: 5%;
}
.btn-mp {
    position: relative;
    left: 5%;
}

/* ------------------------------------------------------------------------------ **/

.gros-titre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card-bp {
    width: 50%;
    background-color:#d0e9db ;
    padding: 2%;
    box-shadow: 0 0 10%;
    box-shadow: 0 0 10px #d0e9db;
}
.card-bp h1 {                                                                                                               
    background-color: #95a5a6;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 5px #2ecc71 ;
}

.card-mp {
    width: 50%;
    background-color: #e8d8d5 ;
    padding: 2%;
    box-shadow: 0 0 10px #e8d8d5;
}
.card-mp h1 {
    background-color: #95a5a6;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 5px #e74c3c ;
}

.left-content {
    width: 50%;
}

h2 {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

p {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

.card-content-bp {
    display:flex;
    flex-wrap: nowrap;
    box-shadow: 0 0 5px #2ecc71 ;
    padding: 2%;
}
.card-content-mp {
    display:flex;
    flex-wrap: nowrap;
    box-shadow: 0 0 5px #e74c3c ;
    padding: 2%;
}

.img-test {
    position: relative;
    margin-left: 4rem;
    height: 80%;
    width: 40%;
    object-fit: cover;
}