/* You can add global styles to this file, and also import other style files */
button.Retour {
  background-color: #d44c55;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 20px;
  /* padding: 20px; */
  width: 140px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
