/* You can add global styles to this file, and also import other style files */
button {
    background-color: #9ed3d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }