body{
    /* padding: 3%; */
}

.profile{
    padding : 4%;
    background-color:   #cfccdd;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size : 2.5em;
    text-align: center;
    margin : 3%;
    margin-top : 0%;
    color:brown;
    /* font-style: italic; */
    font-weight:600;
    
}

.container-profile{
    border:solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 80%;
    background-color: brown;
    padding:10px;
    margin:10px;
}

.button_bottom{
    margin : 20px;
    padding: 20px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.button-delete{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin : 20px;
    padding: 20px;
}

.button-photo{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.container_button_bottom{
    display:flex;
    justify-content: space-around;
    margin : 10%;
    border:solid;
}

.container_infos_account{
    margin : 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    border-color: red;
}



.row1{
    margin:10px;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:solid;
}
.row1 div{
    margin:10px;
    font-size:3em;
    font-weight:bolder;
    color:white;
}

.name{
    display:flex;
    flex-direction: row;
}

.row1 div span{
    color:black;
}


.row2{
    margin:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* justify-content: space-around; */
    border:solid;
}

.row2 div{
    font-size: 2em;
    color:brown;
}

.row3 div{
    font-size:2em;
    color:brown;
}

.container_row_photo{
    margin : 10px;
    display : flex;
    flex-direction: row;
}

.row3{
    margin:10px;
    align-items: center;
    display: flex;
    /* justify-content: space-around; */
    border:solid;

}

.row4{
    border-style:solid;
    margin:10px;
    padding : 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(224, 224, 224); */
    /* border-radius: 5%; */
    /* border-color:gray; */
}
.row4 div{
    /* font-size:6em; */
}

.image-profile{
    display: flex;
    flex-direction: row;
}



.button-photo{
    position: relative;
    top:75%;
    right:20%
}

.ng-template-updateinfos{
    background-color: brown;
    width :600px;
    padding : 20px;
}
.ng-template-updateinfos h2{
    color:white;
    text-align: center;
}
.ng-template-updateinfos p{
    color : white;
    font-size: 0.7em;
}
.popup-updateinfos{
    padding: 100px;
    margin: 100px;
    width: auto;
}



.popup-updatepassword-content label{
    font-size: 1em;
    color : white;
}

.popup-updateinfos-content label{
    font-size: 1em;
    width: 200px;
    color : white;
}

.contentlabel-popupupdateinfos{
    padding:10px;
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: row; */
}
.contentlabel-popupupdateinfos label{
    color:white;
}
.button-bottom-dialog{
    padding-top : 30px;
    justify-content: space-around;
}

.container-contentupdateinfo label{
    font-size: 1em;
    color : white;
}

.message_updatepassword{
    margin: 5%;
    font-size: 1.2em;
    color:white;
    text-align: center;
}
.popup-updatepassword-content input{
    color:white;
}

.content-checkbox{
    display: flex;
    flex-direction: column;
    font-size: 1em;

}
.content-checkbox div label{
    font-size: 1em;
    padding : 5px;
    margin : 10px;
    color : white;
}

.choix-delete{
    background-color: gray;
    border-radius : 5px;
    height : 15px;
    width : 15px;
    padding : 10px;
    margin : 10px;
}
.choix-delete:active{
    background-color: rgb(49, 206, 10);
}

.row-checkbox{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.ng-template-delete h2{
    text-align: center;
    padding : 10px;
    color : white;
}


.ng-template-delete{
    width : 600px;
    background-color: brown;
}

.Btn-delete{
    color : white;
    border-color: white;
    background-color: brown;
    border-width : 1px;
    border-radius : 5px;
}
.Btn-Annuler{
    color : white;
    border-color : white;
    background-color: brown;
    border-width : 1px;
    border-radius : 5px;
}

.column1{
    display: flex;
    flex-direction: column;
    color:white;
    padding: 30px;
    margin:30px;
}
.column2{
    display:flex;
    flex-direction: column;
    padding: 30px;
    margin:30px;
    align-items: center;
}
.name{
    font-size: 3em;
    padding:10px;
    margin:10px;
}
.name div{
    padding:10px;
    font-size: 2em;
}
.username{
    padding:20px;
    margin:20px;
    font-size: 2em;
}


.image_profile_temp{
    background-image: url('../../assets/img/user_default.jpg');
    border-radius: 50%;
    width: 200px;
    height : 200px;
    text-transform:capitalize ;
    border-color:white;
    border-style: solid;
    display:flex;
    flex-direction: row;
    justify-content:center;
    font-size: 3em;
    text-align: center;
}
.image_profile_temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-size: 5em;
    /* font: capitalize; */
    margin : 20px;
    padding: 20px;
}

.image_profile{
    max-width : 300px;
}

.container-img{
    border-radius: 50%;
    width: 200px;
    height : 200px;
    overflow: hidden;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content:center;
}